/*ai generated backgroundfor quotes page*/

body {
  background: linear-gradient(to right, rgb(87, 18, 198), blue, red);
  background-size: 200% 200%;
  animation: shift 3s infinite;
}

@keyframes shift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h2
{
  color:white;
  font-family: "comic sans ms",  sans-serif;
}

ol
{
    color:white;
    font-family: "comic sans ms",  sans-serif;
    font-size: medium;
}

h1
{
  color:white;
  font-family: "Roboto sans ms",  sans-serif;
  text-align: center;
}
